.action {
    margin-top: $m-size;
}

.action__button {
    width: 100%;
    padding: $s-size;
    font-size: $m-size;
    margin-bottom: $m-size;
    cursor: pointer;
    background-color: #FFC300;
    color: white;
}

.action__button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}