.add-option form {
    display: flex;
    padding: $xs-size;
    background-color: lighten(#464B5E, 20%);
    border-top: 1px solid black;
}

.add-option__input {
    width: 100%;
    margin-right: 10px;
    background-color: #464B5E;
    color: white;
    border: none;
    padding: 5px 10px;
}

.add-option__button {
    padding: 10px 15px;
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}